body{
  background-color: rgb(223, 218, 218);
}
.header {
  background-color: #000000e3;
  height: 76px;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
}
.header-li {
  list-style-type: none;
}
.header-li a {
  font-weight: 700;
  font-family: initial;
  font-size: 20px;
  color: brown;
  text-decoration: none;
}
.try{
  position: absolute;
}
.icon {
  width: 25px;
  height: 25px;
}

.home-img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.pages {
  padding: 30px;
  display: flex;
}

.car-item{
  display: grid;
  align-items: center;
}

.car-img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 25%;
  margin-bottom: 20px;
}

.car-cont{
  padding: 30px 20%;
}
.cars-container {
  flex: 1;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  gap: 50px;
  margin-top: 30px;
}
.title-cont{
  display: flex;
  justify-content: space-around;
  margin-right: 30px;
  margin-top: 20px;
}
.des-cont{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.car-title{
  font-size: 23px;
  color: brown;
  font-family: emoji;
  margin: 0;
}
.car-color{
  font-weight: 700;
}
.car-avb{
  color: brown;
  font-size: 18px;
  font-weight: 700;
}
.car-des{
  color: black;
  font-weight: 700;
}


.sort-cont{
  display: grid;
  margin: 30px 0;
  height: 700px;
  padding: 20px;
  border: 4px solid #000000e3;
  border-radius: 12px;
  margin-right: 20px;
}
.sort-item{
  width: 300px;
  height: 100px;
}

.clr-btn{
  width: 300px;
  height: 50px;
}